@{
    ViewData["Title"] = "Home Page";
}


<div class="hero" style="background-image: url('/carrentals-master/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Rent a car</strong> is within your finger tips.</h1>
                    </div>
                </div>

                <form asp-action="CarList" method="get">
                    <div class="row align-items-center">
                        <div class="mb-3 mb-md-0 col-md-4">
                            <div class="form-control-wrap">
                                <input type="datetime-local" name="startDate" id="cf-3"
                                       value="@ViewBag.StartDate"
                                       min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                                       class="form-control px-3">
                                <span class="icon icon-date_range"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-4">
                            <div class="form-control-wrap">
                                <input type="datetime-local" name="endDate" id="cf-4"
                                       value="@ViewBag.EndDate"
                                       min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                                       class="form-control px-3">
                                <span class="icon icon-date_range"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-4">
                            <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <h2 class="section-heading"><strong>How it works?</strong></h2>
        <p class="mb-5">Easy steps to get you started</p>

        <div class="row mb-5">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <div class="step">
                    <span>1</span>
                    <div class="step-inner">
                        <span class="number text-primary">01.</span>
                        <h3>Select rental period</h3>
                        <p>Select from which date do you want to rent car to when</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <div class="step">
                    <span>2</span>
                    <div class="step-inner">
                        <span class="number text-primary">02.</span>
                        <h3>Choose car</h3>
                        <p>Choose car that sutable with you</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <div class="step">
                    <span>3</span>
                    <div class="step-inner">
                        <span class="number text-primary">03.</span>
                        <h3>Fill up form</h3>
                        <p>Enter all required data to be able to rent car</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <div class="step">
                    <span>4</span>
                    <div class="step-inner">
                        <span class="number text-primary">04.</span>
                        <h3>Payment</h3>
                        <p>Last step to send your rezervation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-primary py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-md-0">
                <h2 class="mb-0 text-white">What are you waiting for?</h2>
                <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
            <div class="col-lg-5 text-md-right">
                <a href="#" class="btn btn-primary btn-white">Rent a car now</a>
            </div>
        </div>
    </div>
</div>